.embla {
    --slide-spacing: 1rem;
    --slide-size: calc(100% / 2);
    --slide-size-lg: calc(100% / 3);
    --slide-size-xl: calc(100% / 4);
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    align-items: center;
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
}

@media (min-width: 992px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-lg);
    }
}

@media (min-width: 1200px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-xl);
    }
}